@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}

#wrapper{
	width: 70%;
	margin:30px auto;
}

/*左边部分*/
#wrapper .wrapper_section{
	float: left;
	width: 730px;
}

#big_pic{
	width: 100%;
	height: 450px;
	position: relative;
	overflow: auto;
	border: 1px solid #808080;
}

#big_pic img{
	width:650px;
    position: absolute;
    top: 8px;
}

#controls{
	width: 100%;
	height: 40px;
	border: 1px solid #808080;
	margin: 8px 0;
}

#controls .controlCenter{
	padding: 4px 0;
	width: 95%;
	margin:0 auto;
}

#controls .controlCenter ul{
	float: left;
	margin-left: 20px;
	padding:0 10px;
	border-right: 1px solid #eee;
}

#controls .controlCenter ul:last-child{
	border:none;
}

#controls .controlCenter ul li{
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-left: 13px;
	cursor: pointer;
}

#to_any input{
	width: 30px;
}

#small_pic{
	height: 50px;
	padding: 10px 20px;
	border: 1px solid #808080;
}

#small_pic b{
	margin-top: 16px;
	cursor: pointer;
}

#small_pic img{
	float: left;
	margin-left: 5px;
	opacity: 0.7;
	cursor:pointer;
}

#small_pic img.active{
	border:2px solid #000;
}


/*右边导航*/
#wrapper .wrapper_sidebar{
	float: right;
	width: 205px;
	height: 600px;
}

#wrapper .wrapper_sidebar h4{
	margin-top: 20px;
	margin-bottom: 5px;
}

#wrapper .wrapper_sidebar ul{
	width: 100%;
	padding:10px 5px;
	border: 1px solid #808080;
	max-height:400px;
	overflow-y: auto;
}

#wrapper .wrapper_sidebar ul li{
	cursor: pointer;
}

#wrapper .wrapper_sidebar ul li:hover{
	background-color: orange;
	color: #fff;
}

#wrapper .wrapper_sidebar ul li.active{
	background-color: orange;
	color: #fff;
}

#wrapper .wrapper_sidebar .remark textarea{
	width: 100%;
	height: 50px;
	resize:none;
}

#wrapper .wrapper_sidebar .btns1 button{
	float: right;
	margin-left: 5px;
}


/*后面添加的*/
.div{
	position:absolute; 
	border:1px dashed red; 
	width:0px; height:0px;
	left:0px; 
	top:0px; 
	overflow:hidden;
}
.retc{
	position:absolute; 
	border:1px solid red; 
	overflow:hidden; 
	background:none;
}
.remarker{
	font-size: 12px;
	width: 170px;
	padding: 10px;
	background-color: #E0E0E0;
	position: absolute;
}
.remarker .select{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #808080;
}
.remarker textarea{
	width: 100%;
	height: 45px;
	border: 1px solid #808080;
	resize:none;
	text-indent: 4px;
	margin-top: 5px;
}

.remarker .btns button{
	width: 45px;
	height: 18px;
	cursor: pointer;
	border: none;
	background-color: #F6F6F6;
	float: right;
	margin-left: 5px;
}